* {
    box-sizing: border-box;
}

body {
    background: #000; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.container {
    padding: 1rem;
    background: grey;
    border: solid #FFF;
    border-radius: 10px;
    flex: 1;
}

.screen {
    background: peachpuff;
    width: 20.5rem;
    height: 6rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    border: solid;
}

button {
    width: 5rem;
    height: 4rem;
    font-size: 23px;
    border-radius: 10px;
    margin-bottom: 0.8rem;
    background: powderblue;
}

.clear-delete {
    display: flex;
    justify-content: space-between;
}

.clear,
.delete {
    width: 10rem;
}

.clear {
    background: palegreen;
}

.delete {
    background: palevioletred;
}

.display {
    font-size: 2.6rem;
    position: relative;
    left: 7em;
    top: 1em;
}

ul {
    list-style: none;
}

.footer {
    color: #FFF;
}

.fab {
    color: #FFF;
    filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
}

@media  (max-width:400px) {

    body {
        display: block;
        width: 100vw;
    }

    .container {
        width: 80vw;
        margin: auto;
    }

    .screen {
        width: 10rem;
    }

    button {
        width: 4rem;
    }

    .clear,
    .delete {
    width: 10rem;
}
    
}